<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<h1>Hello</h1>
<p>How are you today <%= username %>, how is the weather in <%= city %>?</p>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>