<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<head>
    <%- include('../partials/head'); %>
</head>

<header>
    <%- include('../partials/header'); %>
</header>

<h1>Jersey</h1>
<p><%= jersey.id %></p>
<p><%= jersey.club %></p>
<p><%= jersey.name %></p>
<p><%= jersey.number %></p>
<p><%= jersey.size %></p>
<p><%= jersey.year %></p>
<p><%= jersey.colour %></p>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>