<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<h1>Users</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Role</th>
        <th scope="col">Details</th>
    </tr>
    </thead>
    <% userArray.forEach(function(user) { %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.role %></td>
            <td>
                <input type="button" onclick="location.href='/user/deleteById/<%= user.id %>'" value="Delete" />
            </td>
        </tr>
    <% }); %>
</table>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>